body {
	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),url(../img/ChalkBack.png);
	font-family: "KGNoRegretsSketch";
	color: #c0c0c0;
}

@font-face {
  font-family: 'KGNoRegretsSketchf';
  src: url('KGNoRegretsSketch.eot'); /* IE9 Compat Modes */
  src: url('KGNoRegretsSketch.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('KGNoRegretsSketch.woff2') format('woff2'), /* Super Modern Browsers */
       url('KGNoRegretsSketch.woff') format('woff'), /* Pretty Modern Browsers */
       url('KGNoRegretsSketch.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('KGNoRegretsSketch.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}



#welcome {
  font-size: 64px;
}

.cursive {
  font-family: Cursive;
}