
.page-scroll {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
}

.page-scroll:hover, .page-scroll:active {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
}

#page-top:hover {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
}


.map {
	border-radius: 20px;
	height: 200px;
	width:200px;
}

#reservations {
	padding-left: 25%;
	padding-right: 25%;
}

.fa {
  display: inline-block; 
  font: normal normal normal 70px FontAwesome;
  font-size: 70px;
  color: white;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
