body {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),url(../img/chalkboard-black.jpg);
}

h1 {
	color: white;
	font-family: 'KGF', Arial, sans-serif;
}

.honest {
	font-family:;
}

.burgers {
	font-family:;
}

@font-face {
	font-family: 'KGF';
	src: url('fonts/KGFonts-TOU.txt');
	src: local('KGF'), local('KGFonts-TOU'), url('fonts/KGNoregretsSketch.ttf') format('truetype');
}
