body {
	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),url(../img/chalkboard-black.jpg);
	color: #F0F0F0;
}

@font-face {
  font-family: 'KGNoRegretsSketch';
  src: url('KGNoRegretsSketch.eot'); /* IE9 Compat Modes */
  src: url('KGNoRegretsSketch.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('KGNoRegretsSketch.woff2') format('woff2'), /* Super Modern Browsers */
       url('KGNoRegretsSketch.woff') format('woff'), /* Pretty Modern Browsers */
       url('KGNoRegretsSketch.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('KGNoRegretsSketch.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

/*div#welcome {
	display: inline;
}*/

.block {
	font-size: 36px;
	font-family: 'KGNoRegretsSketch,' Helvetica, sans-serif;
	font-weight: bold;
	float: left;
}