/*@font-face {
  font-family: 'AftaSansThin-Regular';
  src: url('AftaSansThin-Regular.eot'); /* IE9 Compat Modes */
  src: url('AftaSansThin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AftaSansThin-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('AftaSansThin-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('AftaSansThin-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AftaSansThin-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}*/

body {
	font-family: Arial, Helvetica, sans-serif;
}

.intro {
	color: #000;
}

.brand-heading {
	color: #000;
}

#about {
	color: #fff;
	margin-top: 20px;
}

#download {
bacAftaSansThin-Regularround-color: #fff;
  color: #000;
  height: 300px;
  padding: none;
}

#contact {
	color: #fff;
}

.btn {
	margin-top:400px;
}