* {
	font: Helvetica, sans-serif;
}

.intro {
	color: #000;
}

.brand-heading {
	color: #000;
}

#about {
	color: #fff;
}

#download {
background-color: #fff;
  color: #000;
  height: 300px;
  padding: none;
}

#contact {
	color: #fff;
}