body {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: black;
  text-align: center;
/*  border: 2px solid red;*/
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-decoration: none;
}

.menu {
  width: 100%;
  height: 60px;
  background-color: rgba(7,7,23,0.2);
  position: fixed;
  font-size: 1.5em;
  font-weight:200;
  z-index: 9999;
}

/*----- RESPONSIVE? -----*/
.toggle-nav {
    display:none;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .menu {
      width: 100%;
      height: 60px;
      background-color: rgba(7,7,23,0.2);
      position: fixed;
      font-size: 1em;
      font-weight:200;
      z-index: 9999;
    }
    .menu div.nav {
        display:none;
    }
    .menu div.nav {
        width:0%;
        position:absolute;
        right:0px;
        padding:10px 18px;
        border-radius:3px;
        background-color: rgba(7,7,23,0.2);
    }
    .nav:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid transparent;
    }
    .menu {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }
    .menu div.nav {
        display:block;
    }
    .toggle-nav {
        padding:15px;
        float:right;
        text-decoration: none;
        display:inline-block;
        border-radius:3px;
        color:#fff;
        font-size:1em;
    }
    .toggle-nav:hover .toggle-nav .nav {
        text-decoration:none;
        color:#fff;
    }
  }



.logo {
  padding: 15px 0px 15px 15px;
  color: black;
  text-decoration: none;
  float: left;
}

.logo:hover {
  color: white;
  height: 100%;
  text-decoration: none;
}

.scrollto {
    padding: 15px 20px 15px 0px;
    color: black;
    text-decoration: none;
    float: right;
}

.scrollto:hover {
  color: white;
  height: 100%;
  text-decoration: none;
}

/*why doesn't this work?*/
.scrollto:active {
  color: white;
  height: 100%;
  text-decoration: none;
}

#headfix {
  background: gray;
  position: relative;
  width: 100%;
  height: 550px;
}

.box {
  border: 13px white;
  border-style: double;
  padding: 15px 15px;
  width: 400px;
  color: white;
  display: inline-block;
  margin: 150px 0 0 0;
}

#work {
  background-color: pink;
  width: 100%;
  height: 15em;
}

#about {
  background-color:lavender;
  width: 100%;
  float: left;
  height: 25em;
}

#contact {
  background-color:mistyrose; 
  width: 100%;
  height: 25em;
}

/*for iphone ipad: 
@media screen (max-width: 480px)
menu-bar drop-down on right hand side for nav*/

