$blue: #009deb;
$blue-hover: lighten($blue, 40%);

// Breakpoints; max-width for media queries
$breakpoints: 480px;
$breakmobile: 640px;
$breakmedium: 960px;
$breaklarge: 1024px;

@media screen and (max-width:640px) {

}

@mixin border-radius ($radius) {
	  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

h1 {
	color: $blue;
	margin: blue;
	font-size: 3em;
	text-style: normal;
	padding: 15px;
	background: lightgray;
	@include border-radius(50px);
}

h1:hover {
	color: $blue-hover;
	// margin: blue;
	// font-size: 3em;
	// text-style: normal;
	// padding: 15px;
	// background: lightgray;
	// @include border-radius(50px);
}

h2 {
	@extend h1;
	font-size: 2em;
	@include border-radius(10px);
}

h3 {
	@extend h1;
	font-size: 1em;
}
